[package]
name = "ticket-commit-msg"
version = "0.1.6"
authors = ["Yury Antonov <1390348+yantonov@users.noreply.github.com>"]
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
regex = "1.12.2"

[profile.release]
# https://github.com/johnthagen/min-sized-rust
strip = true  # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = true # remove dead code and often times reduces binary size
codegen-units = 1 # to allow for maximum size reduction optimizations
panic = "abort" #  removes the need for this extra unwinding code